<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_BanNhacCu.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column" style="min-height: 100vh;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand me-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="ZyuukiMusicStore Logo" style="height:50px;" class="ms-5 me-5" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-evenly me-5">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="GioiThieu">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="SanPham" asp-action="Index">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="LienHe">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="DanhGia">Đánh giá</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-content-center me-5">
                    <div>
                        <i class="bi bi-telephone fs-3 me-1"></i>
                    </div>
                    <div>
                        Hotline<br /><b>0869 347 040</b>
                    </div>
                </div>
                <div class="border border-secondary rounded-2">
                    <form class="d-flex" method="post" asp-controller="SanPham" asp-action="timKiem">
                        <input class="form-control border-0 " type="search" name="keyword" placeholder="Tìm kiếm sản phẩm..">
                        <button type="submit" class="btn rounded-2"><i class="bi bi-search"></i></button>
                    </form>
                </div>
                <div class="position-relative">
                    <form method="post" asp-controller="DonDatHang" asp-action="Index">
                        <button class="btn ms-3 me-3" type="submit">
                            <i class="bi bi-cart fs-4"></i>
                            <i class="bi bi-circle-fill text-danger position-absolute start-50"></i>
                            <span class="position-absolute start-50 ms-1">0</span>
                        </button>
                    </form>
                </div>
                @using Microsoft.AspNetCore.Http
                @inject IHttpContextAccessor HttpContextAccessor
                <div>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("UserEmail") == null)
                    {
                        <form method="get" asp-controller="TaiKhoan" asp-action="DangKy">
                            <button class="btn btn-outline-info d-flex align-items-center" type="submit">
                                <i class="bi bi-person fs-4"></i><span class="ms-2">Đăng Ký</span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <div class="dropdown">
                            <a class="d-flex align-items-center text-black px-3 py-2 rounded dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle fs-4 me-2"></i>
                                <span>@HttpContextAccessor.HttpContext.Session.GetString("UserEmail")</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li>
                                    <a class="dropdown-item" asp-controller="TaiKhoan" asp-action="XemTaiKhoan" asp-route-email="@HttpContextAccessor.HttpContext.Session.GetString("UserEmail")">
                                        Xem Tài Khoản
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="TaiKhoan" asp-action="DangXuat">
                                        Đăng Xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-dark footer text-muted">
        <div class="container text-center">
            &copy; 2025 - Zyuuki Music Store - <a href="#">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
