
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Carrier/Views/Shared/_CarrierLayout.cshtml";
}

<div class="d-flex justify-content-center vh-100">
    <h1 class="display-4 fw-bold align-content-center">Welcome Carrier Panel</h1>
</div>
